Name: Automatik
Version:0.1
Author:Oscar B <oscar_b@disroot.org>
Source: automatik
Section: utilities
Priority: optional
Maintainer: Oscar B <oscar_b@disroot.org>
Rules-Requires-Root: no
Build-Depends:
debhelper-compat:13
Standards-Version: 4.7.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://codeberg.org/Alcedinidae/Automatik/
#Vcs-Git: https://codeberg.org/Alcedinidae/Automatik.git
Package:automatik
Architecture: all
Depends:lolcat
Description:  Automatik est un lanceur de scripts shells dans le terminal.
